# Node dependencies
node_modules/

# Build output
dist/
build/

# Electron packaging
*.asar
*.exe
*.zip

# Caches
.cache/

# Logs
*.log

# OS & editor junk
.DS_Store
Thumbs.db

# Environment variables
.env
